.sales-table-container{
    padding: 10px;
    background: white;
    display: flex;
    height: 80%;
     border-radius: 30px;
     overflow: auto;
     &::-webkit-scrollbar {
        display: none;
       
    
        
      }
    .MuiInputBase-input {
        padding: 4px !important;
    }
    .MuiDataGrid-virtualScroller{
        // height: 67vh;
    }
    .head-p-tag{
        font-weight: 500;
        padding-bottom: 5px;
    }
    select
    {
        position: relative;
        background-color: var(--inputbg-color);
        border: none;
        border-radius: 5px;
        // border-color: #42c2f5;
        border: 1px solid #bbbdbf;
        font-size: 16px;
        width: 100%;
        padding: 6px 6px;
        outline: 1px;
        margin-top: 4px;
    }
    .product-name{
        color: rgba(0, 0, 0, 0.6);
        font-weight: 900;
        font-size: 14px;
        line-height: 1.4375em;
        letter-spacing: 0.00938em;
        padding-bottom: 10px;
       
    
    }
   
    .MuiAutocomplete-root {
        input{
            height: 40px;
            border-radius: 10px !important;
            background-color: #F3F6F9;
            border: none;
            font-size: 16px;
            // width: 100%;
            // padding: 10px 12px;
            padding-left: 10px;
width: 98.5%;
            // margin-left: -10px;
            &::after{
    outline: none;
    border: none;
}
&:hover{
    outline: none;
    border: none;   
}
        }
        width: 100%;

    height: 40px !important;
    &::after{
        outline: none;
        border: none;
    }
    }
    .tabel-autocomplete{
        input{
            height: 40px;
            border-radius: 10px !important;
            background-color: #f3f6f900;
            border: none;
            font-size: 16px;
            // width: 100%;
            // padding: 10px 12px;
            padding-left: 10px;
width: 98.5%;
            // margin-left: -10px;
            &::after{
    outline: none;
    border: none;
}
&:hover{
    outline: none;
    border: none;   
}
        }
        width: 100%;

    height: 40px !important;
    &::after{
        outline: none;
        border: none;
    }
    }
    .product-name{
        color: rgba(0, 0, 0, 0.6);
        font-weight: 900;
        font-size: 14px;
        line-height: 1.4375em;
        letter-spacing: 0.00938em;
        padding-bottom: 10px;
       
    
    }
    .MuiDataGrid-root {
        overflow: auto !important;
    }
    // .MuiDataGrid-overlay{
    //     margin: 121px;
    // }
    .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
        max-height: calc(5% - 96px) !important;
     }
     .offscreen {
        position: absolute;
        left: -9999px;
        top: -9999px;
      }
}