/* @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: "OPTITimesRoman";
  src: local("OPTITimesRoman"),
  url('./assets/Fonts/OPTITimes-Roman.otf') format("opentype");
  font-weight: normal;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: "Inter" !important;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Maven Pro" !important; *
/
  /* font-size: vw !important; */
/* 
  --primary-color: #000000;
  --primary-bg: #000000;
  --primary-light: #b4b4b440;
  --custom-green:#85d61c;
  --text-muted:#8b8989;
  --product-card:#f3f6f9;
  --bgblue:#e1e5eb;
  --bgwhite:white;
  --black-button:#000000;
  --button-hover:#424141;
  --inputbg-color:#F3F6F9; */
}
:root {
  --primary-color: #000000; /* Black */
  --primary-bg: #ffffff; /* White */
  --primary-light: #b4b4b440; /* Slightly transparent black */
  --custom-green: #85d61c; /* Custom green */
  --text-muted: #8b8989; /* Muted text color */
  --product-card: #e9e9e9; /* Product card background */ 
  --bgblue: #e1e5eb; /* Blue background */
  --bgwhite: #ffffff; /* White background */
  --black-button: #000000; /* Black button text */
  --button-hover: #424141; /* Button hover color */
  --inputbg-color: #F3F6F9; /* Input background color */
  --sidebar-bgcolor:white;
  --sidebar-hovertext:black;


}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #000000;
  --primary-bg: #000000;
  --primary-light: #b4b4b440;
  --custom-green:#85d61c;
  --text-muted:#8b8989;
  --product-card:#f3f6f9;
  --bgblue:#e1e5eb;
  --bgwhite:white;
  --black-button:#000000;
  --button-hover:#424141;
  --inputbg-color:#F3F6F9;
  --sidebar-bgcolor:black;
  --sidebar-hovertext:black;
  /* --sidebar-color: #ffffff; */


  }
}




* {
  margin: 0;
  padding: 0;
}

body,
#root {
background:var(--primary-bg);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

body > div:nth-child(2),
body > section:nth-child(2) {
  flex-grow: 1;
  text-align: center;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
/* background: #000 !important; */

}
.menu-item:hover {
  background-color: red !important;
}
.error-message-in-input-fiels{
  color: red;
  /* font-family: "Maven Pro", sans-serif !important; */
  font-family: "Inter" !important;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 0;
    position: relative;
    display: block;
    transform-origin: top left;
    white-space: nowrap;
    
}


/* Media query for screens smaller than 600px */
/* @media (max-width: 600px) {
  * {
   
font-size: 2vh !important;
  }
} */

/* Media query for screens between 601px and 900px */
@media (min-width: 1020px) and (max-width: 1080px) {
  * {
   font-size: 1.5vh !important;
   
  }
  input{
    height: 10px !important;
  }
  button{
    height: 35px !important;
    padding: 10px !important;

  }
}

/* Media query for screens larger than 900px */
/* @media (min-width: 901px) {
  * {
   font-size: 2vh !important;
  }
} */